<% unless forum_replies.nil? %>
<ul>
  <% forum_replies.each do |forum_reply| %>
  <li>
    <%= forum_reply.title %>
    <%= link_to 'Reply', new_forum_thread_forum_reply_path(forum_reply.forum_thread) %>
    <%#= render partial: "forum_replies/index", collection: [forum_reply.forum_replies], as: :forum_replies unless forum_reply.forum_replies.present? %>
  </li>
  <% end %>
</ul>
<% end %>