<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @black_list.word %>
</p>

<%= link_to t('.action.back'), edit_black_list_path(@black_list) %> |
<%= link_to t('black_list.action.update'), black_lists_path %>
